* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg); /* медленно вначале */
  }
  30% {
    transform: rotate(180deg); /* ускорение */
  }
  100% {
    transform: rotate(1080deg); /* несколько оборотов на высокой скорости */
  }
}

/* @keyframes spinUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinLoop {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(720deg);
  }
} */
@keyframes spin1 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes spin2 {
  from { transform: rotate(360deg); }
  to   { transform: rotate(720deg); }
}

@keyframes spin3 {
  from { transform: rotate(720deg); }
  to   { transform: rotate(1080deg); }
}
@keyframes spinUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinLoop {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}


@keyframes push {

  0% {
    transform: rotate(90deg) translateY(20px);

  }

  50% {
    transform: rotate(90deg) translateY(0px);

  }

  100% {
    transform: rotate(90deg) translateY(20px);

  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
